<nav>
  <ul>
    <li><a class="social google" href="">Google+</a></li>
    <li><a class="social facebook" href="https://web.facebook.com/RCCG-The-King-of-Glory-Cape-Town-1741406809415560/" target="_blank">Facebook</a></li>
    <li><a class="social twitter" href="https://twitter.com/pastoreaadeboye?lang=en" target="_blank">Twitter</a></li>
    <li><a class="social instagram" href="https://www.instagram.com/rccgorg/" target="_blank">Instagram</a></li>
    <br>
    <h4 class="listevent" style="color:red; font-style: italic"> List of our Events</h4>
    <li><a class="social linkedin" href="upcoming_events/upcomings">Upcoming Events</a></li>
    <li><a class="social tumblr" href="upcoming_events/past_events">Past Events</a></li>
    <li><a class="social github" href="upcoming_events/live_events">Live Events</a></li>
  </ul>
</nav>
