<div class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#"><h1>Website Name</h1></a>
    </div>
    <nav class="navbar-collapse collapse">

      <ul class="nav navbar-nav">

        <li class="dropdown active" id="tt-home"><a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">Home <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!">Awards</a></li>
          <li><a href="#!">Beyond</a></li>
          <li><a href="#!">Beyond Children</a></li>
          <li><a href="#!">Beyond Love Within</a></li>
        </ul>
        </li>
        <li class="dropdown" id="tt-blog">
        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">Blog <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!">Biography</a></li>
          <li><a href="#!">Interviews</a></li>
          <li><a href="#!">Links</a></li>
          <li><a href="#!">Lyrics</a></li>
        </ul>
        </li>
        <li class="dropdown" id="tt-books"><a href="#!" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-target="#">Books <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!">Flagg Grove School</a></li>
          <li><a href="#!">Magazines</a></li>
          <li><a href="#!">My Collection</a></li>
          <li><a href="#!">Songbooks</a></li>
          <li><a href="#!">Tourbooks</a></li>
        </ul>
        </li>
        <li class="dropdown" id="tt-goodies">
        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">Goodies  <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!">Drawings</a></li>
          <li><a href="#!">Ecards</a></li>
          <li><a href="#!">Fanmap</a></li>
          <li><a href="#!">Fans-Tina</a></li>
          <li><a href="#!">General</a></li>
        </ul>
        </li>
        <li class="dropdown" id="tt-media">
        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">Media <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!Albums</a></li>
          <li><a href="#!">Albums-Extended</a></li>
          <li><a href="#!">7 Inch Singles</a></li>
          <li><a href="#!">12 Inch Maxi Singles</a></li>
          <li><a href="#!">CD Singles</a></li>
          <li><a href="#!">DVD-VHS-Blu-Ray</a></li>
          <li><a href="#!">Videos with others</a></li>
          <li><a href="#!">LP's</a></li>
        </ul>
        </li>
        <li class="dropdown" id="tt-news"><a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">News <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!">Film</a></li>
          <li><a href="#!">Photos</a></li>
          <li><a href="#!">Tour Photos 2008-2009</a></li>
          <li><a href="#!">Tours</a></li>
          <li><a href="#!">Videos</a></li>
        </ul>
        </li>
        <li class="dropdown" id="tt-contact"><a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">Contact <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#!" target="_blank">Appearances</a></li>
          <li><a href="#!">Credits</a></li>
          <li><a href="#!">Donation</a></li>
          <li><a href="#!" target="_blank">Forum</a></li>
        </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
