<div class="three_d_image" >
  <div class="container">
		<div id="carousel">
			<figure><img src="images/rccg_logo.jpg" alt="" style="width:180px;height:118px; position:relative; bottom:6px; left:5px" ></figure>
      <figure><img src="images/king_of_glory.jpg" alt="" style="width:180px;height:118px; position:relative; bottom:6px; left:5px" ></figure>
			<figure><img src="images/pastor1.jpg" alt="" style="width:180px;height:118px; position:relative; bottom:18px; left:-40px;  zoom: 200%;" ></figure>
			<figure><img src="images/adeboye.jpeg" alt="" style="width:180px;height:118px; position:relative; bottom:6px; left:5px" ></figure>
			<figure><img src="images/bike.jpg" alt=""></figure>
			<figure><img src="images/bike.jpg" alt=""></figure>
			<figure><img src="images/bike.jpg" alt=""></figure>
			<figure><img src="images/bike.jpg" alt=""></figure>
			<figure><img src="images/bike.jpg" alt=""></figure>
		</div>
	</div>
</div>
