<div class="row">
  <div class="col right">
  <button class="btn facebook" data-provider="facebook"><i></i><span><%= link_to "Past Events",  past_events_upcoming_events_path, {:class => "past_events"} %></span></button>
  <button class="btn twitter" data-provider="twitter"><i></i><span><%= link_to "Upcoming Events",  upcoming_upcoming_events_path, {:class => "upcoming_events"} %></span></button>
  <button class="btn plus" data-provider="google plus"><span class="i"><i></i></span><span>Google Plus</span></button>
  </div>
</div>
