<div class="page_wrapper_index" >
  <didv class="content" >
        <div class="post_body" >
          <%= truncate(@live_events.body, length: 120) %>
        </div>
        <div class="post_created" >
          <%= @live_events.starting_from.strftime("Starting on %m/%d/%Y/%H/%M") %>
        </div>
        <div class="post_created" >
          <%= @live_events.ending_time.strftime("Ends on %m/%d/%Y/%H/%M") %>
        </div>
  </div>
</div>
