/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require foundation_and_overrides
 /*= require foundation
 */
div.header_pages {
   position: relative;
   bottom: 10px;
 }

.count_comment {
  color: white;
  font-weight: bolder;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}


h4 {
   position: absolute;
   top: 20px;
   left: 90px;
   width: 70%;
}

h4 span {
   font: bold 15px/15px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   padding: 10px;

}


.delete_photo{
 display: inline-block;
 background-color: #ccc;
 border: 1px solid #777;
 padding: 0 1.5em;
 margin: 0.5em;
 font: bold 1em/2em Arial, Helvetica;
 text-decoration: none;
 color: #333;
 text-shadow: 0 1px 0 rgba(255,255,255,.8);
 border-radius: .2em;
 box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}



.style_image {
  position: relative;
  padding-top: 6px;
}


// ====================
// 	Global variables
// ====================

    @responsive: true;
	@page-width: (@bp-large + 42); // Includes gutter
	@small-page-width: 90%;
	@gutter-width: 20px;
	@bp-collapse: @bp-medium; // Grid collapse
	@bp-searchCollapse: 580px;
    @bp-stopResponsive: 748px;
    @bp-refineSearchCollapse: 1045px; // prev 950px
    @bp-largePhone:640px;
    @default-asset-path:"../img/";

    //$SPACING
    @base-spacing-unit: 5px;
    @full-spacing-unit: @base-spacing-unit * 4;
    @half-spacing-unit: @base-spacing-unit * 2;

	// Breakpoints
	@bp-tiny: 300px;
	@bp-small: 420px;
	@bp-medium: 768px;
	@bp-large: 990px;
	@bp-massive: 1120px;

    @bp-tablet-large:1024px;
    @bp-tablet:768px;

    //$MEDIA QUERIE
    @tablet : ~"screen and (min-width: 768px)";
    @tabletLarge: ~"screen and (min-width: 970px)";
    @tabletSmall : ~"screen and (min-width: 500px)";
    @desktop : ~"screen and (min-width: 1025px)";
    @phone: ~"screen and (min-width: 480px)";

    // Colours
	@c-links: @c-blue;
	@c-panelBackground: @c-white;
	@c-panelHeaderBackground: @c-charcoal;
	@c-panelForeground: @c-black;
	@c-wellBackground: @c-lightgrey;

	@c-white: #FFF;
    @c-menuyellow:#ffde01;
    @c-offwhite : #f7f7f7;
	@c-silver: #F2F2F2;
    //@tabColor:#d4d4d4;
	@c-lightgrey: #E6E6E6;
	@c-formgrey: #ABABAB;
    @c-tabletgrey:#b7b7b7;
	@c-grey: #CCC;
	@c-darkgrey: #333333;
    @c-middarkgrey : #3b3b3b;
    @c-mistygrey:#252525;
    @c-inputgrey:#343434;
	@c-charcoal: #444444;
	@c-mediumgrey: #777777;
	@c-darkblack: #000000;
	@c-black: #222222;
    @c-offblack : #111;
	@c-blue: #3A7CB9;
    @c-darkblue:#123d60;
	@c-green: #76b100;
	@c-darkgreen: #598000;
	@c-orange: #E48033;
	@c-yellow: #FED146;
	@c-red: #D6454C;
    @c-purple:#2F2F92;
    @c-blue-grey: #F1F5F6;
    @c-new-grey:#ebebeb;
    @c-bg-notification-alpha: #fecb00;
    @c-bg-notification-beta:#2371b1;
    @c-bg-notification-delta:#333333;
    @c-bg-notification-eta:#397bb8;
    @tab--border:#e2e2e2;


	// Typography
	@f-body: 'Open Sans', sans-serif;

// ====================
// 	WhatCar variables
// ====================

    //vars
    //colours

    @c-red-wc: #c00;
    @c-darkred-wc: #902219;
    @c-greyborder-wc: #b7bfc1;
    @c-lgreyborder-wc: #e6e6e6;
    @c-greybg-wc: #f2f2f2;
    @c-greytext-wc: #444444;
    @c-blue-wc: #003365;
    @c-bluegrey-wc: #f2f5f6;



.content{
background:url("http://static.pistonheads.com/3109/Assets/img/404peugeot.jpg") no-repeat center center;;
  margin:auto;
  height: 1010px;
width: 100%;
}

.fixtoTop{
position:fixed;
top:0px;
width:100%;
}

@font-face{
font-family: 'fontello';
src: url('http://www.kozeletiskolaja.hu/smartagon_sys/cdn/fontello/font/fontello.eot');
src: url('http://www.kozeletiskolaja.hu/smartagon_sys/cdn/fontello/font/fontello.eot') format('embedded-opentype'),
url('http://www.kozeletiskolaja.hu/smartagon_sys/cdn/fontello/font/fontello.woff') format('woff'),
url('http://www.kozeletiskolaja.hu/smartagon_sys/cdn/fontello/font/fontello.ttf') format('truetype'),
url('http://www.kozeletiskolaja.hu/smartagon_sys/cdn/fontello/font/fontello.svg') format('svg');
font-weight: normal;
font-style: normal;
}
//$MEDIA QUERIE
 @tablet : ~"screen and (min-width: 768px)";
 @tabletLarge: ~"screen and (min-width: 970px)";
 @tabletSmall : ~"screen and (min-width: 500px)";
 @desktop : ~"screen and (min-width: 1025px)";
 @phone: ~"screen and (min-width: 480px)";


a{
color:#3a7cb9;
}

body{
font-family: 'Open Sans', sans-serif;
}


a{
text-decoration:none;
}
menu,
ul {
  margin-top: 0;
  padding-top: 0;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
.grid--full {
  margin-left: 0;
}
.grid--full .grid__item {
  padding-left: 0;
}
.grid__item {
  float: left;
}
/**
* Whole
*/
.one-whole {
  width: 100%;
}
/**
   * Half
   */
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths {
  width: 50%;
}
/**
 * Thirds
 */
.one-third,
.two-sixths,
.four-twelfths {
  width: 33.333%;
}
.two-thirds,
.four-sixths,
.eight-twelfths {
  width: 66.666%;
}
/**
   * Quarters
   */
.one-quarter,
.two-eighths,
.three-twelfths {
  width: 25%;
}
.three-quarters,
.six-eighths,
.nine-twelfths {
  width: 75%;
}
/**
   * Fifths
   */
.one-fifth,
.two-tenths {
  width: 20%;
}
.two-fifths,
.four-tenths {
  width: 40%;
}
.three-fifths,
.six-tenths {
  width: 60%;
}
.four-fifths,
.eight-tenths {
  width: 80%;
}
/**
   * Sixths
*/
.one-sixth,
.two-twelfths {
  width: 16.666%;
}
.five-sixths,
.ten-twelfths {
  width: 83.333%;
}
/**
   * Eighths
   */
.one-eighth {
  width: 12.5%;
}
.three-eighths {
  width: 37.5%;
}
.five-eighths {
  width: 62.5%;
}
.seven-eighths {
  width: 87.5%;
}
/**
   * Tenths
   */
.one-tenth {
  width: 10%;
}
.three-tenths {
  width: 30%;
}
.seven-tenths {
  width: 70%;
}
.nine-tenths {
  width: 90%;
}
/**
* Twelfths
*/
.one-twelfth {
  width: 8.333%;
}
.five-twelfths {
  width: 41.666%;
}
.seven-twelfths {
  width: 58.333%;
}
.eleven-twelfths {
  width: 91.666%;
}

.flaticon.solid.checkmark-1:before,
.flaticon.solid.checkmark:before,
.flaticon.solid.W3:before {
  content: "\e1ba";
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.0.3');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric *
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*-----------------
  =Global Classes
  --------------------*/
.icon-motorsport:before {
  content: '\e800';
}
.icon-boat:before {
  content: '\e801';
}
.icon-car:before {
  content: '\e802';
}
.icon-truck:before {
  content: '\e803';
}
.icon-screwdriver:before {
  content: '\e804';
}
.icon-wheel:before {
  content: '\e805';
}
.icon-motorbike:before {
  content: '\e806';
}
.icon-down-open:before {
  content: '\e807';
}
.icon-left-open:before {
  content: '\e808';
}
.icon-right-open:before {
  content: '\e809';
}
.icon-up-open:before {
  content: '\e80a';
}
.icon-attention:before {
  content: '\e80b';
}
.icon-attention-circled:before {
  content: '\e80c';
}
.icon-ellipsis:before {
  content: '\e80d';
}
.icon-myaccount:before {
  content: '\e80e';
}
.icon-mystuff:before {
  content: '\e80f';
}
.icon-billing:before {
  content: '\e810';
}
.icon-list:before {
  content: '\e811';
}
.icon-briefcase:before {
  content: '\e812';
}
.icon-chat:before {
  content: '\e813';
}
.icon-angle-left:before {
  content: '\e814';
}
.icon-angle-right:before {
  content: '\e815';
}
.icon-angle-up:before {
  content: '\e816';
}
.icon-angle-down:before {
  content: '\e817';
}
.icon-cancel:before {
  content: '\e818';
}
.icon-help-circled:before {
  content: '\e819';
}
.icon-ok-1:before {
  content: '\e81a';
}
.icon-attention-circled-1:before {
  content: '\e81b';
}
.icon-logout:before {
  content: '\e81c';
}
.icon-angle-left-1:before {
  content: '\e81d';
}
.icon-angle-right-1:before {
  content: '\e81e';
}
.icon-angle-up-1:before {
  content: '\e81f';
}
.icon-angle-down-1:before {
  content: '\e820';
}
.icon-cancel-1:before {
  content: '\e821';
}
.icon-help-circled-1:before {
  content: '\e822';
}
.icon-ok-2:before {
  content: '\e823';
}
.icon-attention-circled-2:before {
  content: '\e824';
}
.icon-logout-1:before {
  content: '\e825';
}
.icon-membericon:before {
  content: '\e826';
}
.icon-forumicon:before {
  content: '\e827';
}
.icon-ssiicon:before {
  content: '\e828';
}

.icon-pistonhub:before {
  content: '\e82a';
}
.icon-email:before {
  content: '\e82b';
}
.icon-settingsicon:before {
  content: '\e82c';
}
.icon-chaticon:before {
  content: '\e82d';
}
.fa.fa-child:before,
.fa.fa-cutlery:before,
.icon-truck:before,
.icon-screwdriver:before,
.icon-wheel:before,
.icon-motorsport:before,
.icon-motorbike:before {
  display: block;
  text-align: center;
  width: 15px;
  float: left;
  margin-right: 30px;
}
.fa.fa-child:hover:before,
.fa.fa-cutlery:hover:before,
.icon-truck:hover:before,
.icon-screwdriver:hover:before,
.icon-wheel:hover:before,
.icon-motorsport:hover:before,
.icon-motorbike:hover:before {
  color: #ffde01;
}
body {
  position: relative;
}
.hidden {
  display: none;
}
.site-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.site-overlay.show {
  visibility: visible;
  opacity: 1;
}
#newNav ul li {
  list-style-type: none;
  text-transform: capitalize;
}
#newNav ul li a {
  cursor: pointer;
}
#newNav #headerSearch {
  font-family: sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  box-sizing: border-box;
}
menu,
ul {
  margin-top: 0;
  padding-top: 0;
}
.main-navigation {
  overflow: hidden;
  width: 450px;
  margin: 30px auto auto auto;
  padding-left: 0;
}
.header {
  border-bottom: 1px solid #e6e6e6;
}
.header__inner {
  width: 1010px;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
}
.header__inner > .grid {
  margin-left: -14px;
}
.logo {
  display: block;
  width: 286px;
  height: 57px;
  background: url("http://static.pistonheads.com/3109/Assets/img/phlogo.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 14px;
  margin-left: 26px;
}
.main-navigation > li {
  float: left;
  padding: 10px 0 30px;
}
.main-navigation > li > a {
  color: #323232;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 10px;
}
.main-navigation > li > a:visited {
  color: #323232;
}
#newNav .main-navigation > li:hover > a {
  background-color: #323232;
  color: #ffde01;
  border-bottom-width: 0;
  position: relative;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-navigation > li > a {
  position: relative;
}
.main-navigation > li > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #252525;
  position: absolute;
  top: 44px;
  left: 40%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.main-navigation > li:hover > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #252525;
  position: absolute;
  top: 44px;
  left: 40%;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-transition-delay: 300ms;
  transition-delay: 300ms;
}
.main-navigation > li.toggle-delay:hover > a:after {
  transition-delay: 0;
}
.main-navigation > li > .selected {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #323232;
  color: #ffde01;
}
.main-navigation > li > .current {
  border-bottom: 5px solid #ffde01;
}
.search-field {
  font-size: 13px;
  font-size: 0.8125rem;
  position: relative;
  max-width: 450px;
  overflow: hidden;
  margin-top: 35px;
  width: 130px;
  display: inline-block;
}
.search-field p {
  margin-bottom: 10px;
  float: right;
}
.search-field input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  border: 1px solid #e6e6e6;
  padding: 5px;
  width: 91%;
  margin-bottom: 10px;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}
.search-field .search-field__button {
  font-family: Arial;
  font-weight: 600;
  font-size: 13px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  position: absolute;
  right: 12px;
  margin: 2px;
}
.toggleHeader .breadcrumb-toolbar {
  display: none;
}
.mega-menu,
.mega-menu-news {
  padding-top: 10px;
  border-bottom: 20px solid #343434;
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  background-color: #343434;
  visibility: hidden;
  overflow: visible;
  z-index: 2000000;
  max-height: 455px;
  cursor: default;
}
.mega-menu-news {
  top: 43px;
}
.main-navigation > li.toggle-delay:hover .FirstMenunInRow {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.main-navigation > li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -moz-transition-delay: 300ms;
  transition-delay: 300ms;
}
.main-navigation > li.toggle-delay:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.main-navigation > li.news--sub--item:hover .mega-menu {
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.grid__item:last-child .mega-menu__block {
  border-right: none;
}
.mega-menu__block {
  background-color: #343434;
  color: #9f9f9f;
  border-right: 1px solid #272727;
  overflow: hidden;
  margin-top: 10px;
}
.main-navigation > li.news--sub--item:hover .news---sub--nav {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.main-navigation > li.news--sub--item:hover .news---sub--nav .mega-menu-news {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.main-navigation > li.toggle-delay:hover.news--sub--item .news---sub--nav {
  -moz-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.main-navigation > li.toggle-delay:hover.news--sub--item .news---sub--nav .mega-menu-news {
  -moz-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.main-navigation > li.news--sub--item:hover > a:after {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.main-navigation > li.toggle-delay:hover.news--sub--item > a:after {
  -moz-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.mega_menu__title {
  color: #fff;
  font-weight: 600;
  padding: 14px 20px;
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.mega_menu__title a {
  color: #ffde01 ;
}
.mega_menu__body {
  overflow: hidden;
  min-height: 215px;
  padding: 14px 20px;
  margin-top: 10px;
}
.mega_menu__body ul {
  float: left;
  margin-top: 0;
  padding: 0;
  width: 100%;
}
.mega_menu__body ul li {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 15px;
  line-height: 14px;
}
.mega_menu__body ul li a {
  color: #e6e6e6;
}
#newNav .mega_menu__body ul li a:hover {
  color: #ffde01;
  text-decoration: none;
}
.upgrade-block {
  position: relative;
}
.upgrade-block__title {
  font-size: 15px !important;
  font-size: 1.375rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  top: 6px;
  margin: 0;
  position: absolute;
  right: 20px;
  margin-right: 37px;
}
/*Align to the left*/
.sellTxt {
  right: 60px;
}
.upgrade-block__title span {
  font-weight: 600;
}
.upgrade-block__button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 600;
  color: #343434;
  background-color: #ffde01;
  text-transform: uppercase;
  padding: 7px 15px;
  bottom: 15px;
  position: absolute;
  right: 20px;
}
.image-list {
  text-align: center;
}
.image-list div {
  width: 158px;
  max-width: 100%;
}
.image-list {
  text-align: center;
}
.image-list div:hover .figcaption {
  color: #ffde01;
}
.image-list li {
  display: inline-block;
  margin-left: 45px;
  vertical-align: top;
}
.image-list li:first-child {
  margin-left: 0;
  float: left;
}
.image-list li div .figcaption {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 10px;
  line-height: 20px;
  width: 150px;
  max-width: 100%;
  text-align: left;
}
.image-list li:first-child {
  padding-left: 0;
}
.image-list li:last-child {
  float: right;
}
.icon {
  width: 30px;
  height: 20px;
  background-image: url(../img/car-icon.png);
}
.toolbar {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0 auto;
  max-width: 940px;
}
.user-info {
  float: left;
  width: 100%;
}
.user-info .user-info__inner {
  margin-right: 130px;
  border-right: 1px solid #e6e6e6;
  padding: 10px;
}
.user-info .breadcrumbs {
  float: left;
}
.user-info .login {
  float: right;
}
.user-info a {
  font-weight: 600;
}
.social-media {
  float: left;
  width: 130px;
  margin-left: -130px;
  padding: 10px;
}
.social-media li {
  width: 25%;
}

p {
  margin: 0;
}
figure {
  margin: 0;
}
#newNav img {
  max-width: 100%;
  max-height: 128px;
}
#newNav,
.md-modal,
.md-trigger,
#navComponent {
  font-family: 'Open Sans', sans-serif;
}
#newNav {
  background: #fff;
  margin: 0 auto;
  position: relative;
  line-height: 1;
  font-size: 62.5%;
  margin-top: -5px;
}
#body.toggleHeader {
  background: none;
}
#newNav li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#newNav nav {
  overflow: hidden;
}
.mega_menu__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.sellLi {
  position: relative;
}

#newNav li.socialMedia {
  margin-top: 5px;
}
#newNav li.socialMedia a {
  color: #989898;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}
#newNav li.socialMedia a:hover {
  color: #3a7cb9;
  text-decoration: none;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.site-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.site-overlay.show {
  visibility: visible;
  opacity: 1;
}
.hidden {
  display: none !important;
}
#switchMessage {
  margin: auto;
  background: #fff;
}
#navComponent {
  background: #fff;
  line-height: 1;
  font-size: 62.5%;
  border-bottom: 1px solid #e3e3e3;
  min-width: 748px;
}

.mdbutton {
  width: 153px;
  height: 38px;
  background: #3979b7;
  border-radius: 5px;
  display: block;
  float: left;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.mdbutton:visited {
  color: #ffffff;
}
#header .date-updated {
  margin-left: -80px;
}
.toggleHeader .leaderBoardAd > div {
  width: 728px;
  height: 90px;
  margin: auto;
  position: relative;
}
.toggleHeader .leaderBoardAd iframe {
  margin: auto;
}
.toggleHeader .homepage {
  padding-top: 15px;
}
header.site-header #user-status li {
  float: none;
}
.upgrade-block__button {
  color: #000000 !important ;
}
.mdbutton:hover {
  color: #fff;
}
.toggleHeader #skyscraper {
  top: 0;
}
.upgrade-block {
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .main-navigation > li {
    padding-top: 9px;
  }
  .mega_menu__body ul {
    margin-bottom: 0px;
  }
  .mega_menu__body {
    padding-bottom: 0;
  }
}
#user-status li {
  float: none;
  display: block;
}
.md-trigger span:after {
  font-family: 'FontAwesome';
  content: '\f08e';
  position: relative;
  left: 5px;
}
.toggleHeader .socialMedia a:visited {
  color: #9a9a9a;
}
#header #loginLinks li {
  display: block;
  float: none !important;
}
#header #loginLinks li a {
  border-right: none;
}
.seven-twelfths .mega-menu__block {
  border-right: none !important;
}
/*-------SPARK pages specific styles - DO NOT REMOVE------*/
.spark .adImage {
  top: 120px;
}
.spark .upgrade-block__title {
  top: 90px;
}
/*-------SPARK pages specific styles - DO NOT REMOVE------*/
/*@media screen and (max-width: 1023px){

      .mega-menu{
      background-color: #343434;
      }

      .image-list li {
      margin-left: 5px;
      }

     .one-quarter-tablet {
      width: 24%;
      }

    .image-list li div .figcaption {
     width:inherit;
    }

    .adImage {
    display: none;
    }

    .search-field {
    width: 80%;
    }

}*/
.adImage {
  position: absolute;
  top: 30px;
  right: 20px;
}
.search-field__button {
  display: inline-block;
  vertical-align: top;
  margin-top: 37px;
  width: 37px;
  background: none;
  border: none;
  cursor: pointer;
}
.search-field__button:before {
  font-family: "searchIcon";
  float: right;
  content: '\e802';
  font-size: 23px;
  color: #999;
  height: 20px;
  z-index: 99999;
  margin-right: 10px;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}
.lt-ie9 .main-navigation > li > a:after {
  display: none;
}
.lt-ie9 .md-modal {
  position: absolute;
  top: 50%;
  left: 32%;
}
.lt-ie9.default-box .md-modal {
  top: 50%;
  left: 30%;
}
.lt-ie9 .image-list li {
  float: left;
}
.is-off-canvas-only {
  display: none !important;
}
.pushy {
  -webkit-transform: translate3d(-360px, 0, 0);
  -moz-transform: translate3d(-360px, 0, 0);
  -ms-transform: translate3d(-360px, 0, 0);
  -o-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}
.main-body,
.pushy,
.pushyRight,
#newNav,
#content #container {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.pushyonAsp {
  right: 460px;
}
.pushRight {
  -webkit-transform: translate3d(-360px, 0, 0);
  -moz-transform: translate3d(-360px, 0, 0);
  -ms-transform: translate3d(-360px, 0, 0);
  -o-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}
/*Fix overlay issues*/
#footer,
#left-nav,
.home .headlines,
.rightColumn {
  position: relative;
  z-index: 2;
}
.close {
  display: none;
}
body > img {
  display: none;
}
.header-center {
  height: 0px;
}
.navIcon span {
  display: none;
}
.togglePosition {
  position: absolute !important;
}
.menu2--col {
  display: inline-block;
  width: 33.3%;
}
#newNav .news---sub--nav {
  overflow: visible;
  position: absolute;
  width: 1024px;
  background: #333;
  visibility: hidden;
  top: 84px;
  height: 50px;
  line-height: 10px;
  font-size: 13px;
  left: 0px;
  z-index: 101;
  padding-top: 0px;
}
.sub--news--ul {
  padding: 0px 10px 10px 10px;
  color: #fff;
  text-align: center;
  background: #2d2d2d;
}
.sub--news--ul > li {
  display: inline-block;
  padding: 15px 5px 19px 5px;
  line-height: 15px;
}
.sub--news--ul > li:hover {
  color: #ffde01;
  border-bottom: 0px;
  background: #343434;
}
.four-fifths .image-list li {
  margin-left: 45px;
}
.four-fifths .image-list li:first-child {
  margin-left: 0px;
}
.four-fifths .image-list li:last-child {
  float: right;
}
#newNav .news--sub--item:hover .news---sub--nav {
  visibility: visible;
}
.nes--sub--nav--item:hover .mega-menu-news {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  text-align: left;
}
.nes--sub--nav--item > a {
  color: #fff;
  padding: 20px;
}
.nes--sub--nav--item > a:hover {
  text-decoration: none;
}
.nes--sub--nav--item {
  cursor: pointer;
}
.nes--sub--nav--item:hover > a {
  color: #ffde01;
}
.FirstActiveItem:hover .nes--sub--nav--item.FirstInTier .FirstMenunInRow {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  text-align: left;
}
.sub--news--ul li.FirstInTierActive {
  background: #343434;
}
.sub--news--ul li.FirstInTierActive > a {
  color: #ffde01;
  border-bottom: 0;
}
.menu2--col li {
  float: left;
  width: 50%;
  display: inline;
}
.mega_menu__body ul.center--3col--img {
  text-align: center;
}
.item-trigger {
  width: 420px;
  height: 79px;
  position: absolute;
  left: 285px;
  top: 62px;
  z-index: 99;
}
.news---sub--nav.mega-menu {
  border-top: 0px;
}
.mega_menu__body ul.center--sub--img {
  text-align: center;
}
#newph {
  background: #fff;
  margin: 0;
  padding: 0;
}
#newph .contain {
  padding: 20px 10px;
  max-width: 1010px;
  margin: 0 auto;
}
#newph h2 {
  background: url(../img/phlogo.png) no-repeat;
  text-indent: -9999px;
  width: 131px;
  height: 25px;
  background-size: 131px 25px;
}
@media screen and (min-width: 768px) {
  #newph h2 {
    width: 260px;
    height: 52px;
    background-size: 262px 52px;
  }
}
#newph .ph-nav {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: none;
  height: 26px;
}
.main-navigation li:last-child a:after {
  display: none;
}
body.tablet #newNav {
  position: fixed;
  z-index: 999999;
  min-height: 25000px;
  width: 360px;
  right: 0;
  height: 100%;
  background-color: #343434;
  right: -360px;
  /*Reset styles for icons so they fit next to text*/
  /*Get rid of absaolutely positioned column on the right on classic ASp*/
}
body.tablet #newNav li a {
  font-size: 15px;
}
body.tablet #newNav .spark nav ul li {
  min-height: 35px;
}
body.tablet #newNav .hidden {
  display: none;
}
body.tablet #newNav .fa.fa-child:before,
body.tablet #newNav .fa.fa-cutlery:before,
body.tablet #newNav .icon-truck:before,
body.tablet #newNav .icon-screwdriver:before,
body.tablet #newNav .icon-wheel:before,
body.tablet #newNav .icon-motorsport:before,
body.tablet #newNav .icon-motorbike:before {
  margin-right: 10px;
  width: 40px;
  text-align: center;
  float: left;
  margin-top: 13px;
}
body.tablet #newNav .mega-menu {
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}
body.tablet #newNav .animateMe {
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}
body.tablet #newNav .main-body {
  position: relative;
}
body.tablet #newNav .skyscraper {
  display: none;
}
body.tablet #newNav .noHeight {
  height: 0 !important;
}
body.tablet #newNav .logo-wrap .navIcon {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  color: #656565;
}
body.tablet #newNav .logo-wrap {
  float: none;
  background: #fff;
  overflow: hidden;
}
body.tablet #newNav .navIcon:hover {
  text-decoration: none;
}
body.tablet #newNav .logo {
  float: left;
}
body.tablet #newNav .mega-menu {
  opacity: 1;
}
body.tablet #newNav .mega-menu > .mega-menu__block {
  display: none;
}
body.tablet #newNav nav {
  margin-top: 0px;
}
body.tablet #newNav .main-navigation > li > a:after,
body.tablet #newNav .main-navigation > li:hover > a:after {
  display: none;
}
body.tablet #newNav .main-navigation > li {
  padding: 10px;
}
body.tablet #newNav nav {
  height: 100%;
  width: 96%;
  background: #343434;
  float: right;
}
body.tablet #newNav .navicon {
  display: block;
  position: relative;
  padding-left: 1.25em;
  float: right;
  margin-top: 40px;
  cursor: pointer;
}
body.tablet #newNav nav ul > li {
  display: block;
  float: none;
  text-align: left;
  width: 88%;
  background: #252525;
  border-bottom: 1px solid #303030;
  line-height: 28px;
  cursor: pointer;
}
body.tablet #newNav nav ul li a {
  color: #fbdd09;
}
body.tablet #newNav nav ul li a:hover {
  background: none;
}
body.tablet #newNav nav ul li:hover a {
  background: none !important;
}
body.tablet #newNav .main-navigation {
  width: 100%;
  margin: 0;
}
body.tablet #newNav .navicon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black,0 0.5em 0 0 black;
}
body.tablet #newNav nav ul li {
  display: block;
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
  min-height: 50px;
}
body.tablet #newNav .default-box nav ul li {
  min-height: 35px;
}
body.tablet #newNav .header__inner {
  width: 77%;
}
body.tablet #newNav #container {
  z-index: 2;
}
body.tablet #newNav .navicon {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}
body.tablet #newNav nav ul > li {
  width: 100%;
}
body.tablet #newNav nav ul > li:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 5px;
  display: block;
  font-size: 1.5em;
  width: 40px;
  height: 44px;
  background: url(../img/Arrowdown.png) no-repeat 12px 15px;
  background-color: #010101;
}
body.tablet #newNav nav ul > li.active:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 5px;
  display: block;
  font-size: 1.5em;
  width: 40px;
  height: 44px;
  background: url(../img/arrowUp.png) no-repeat 12px 15px;
  background-color: #010101;
}
body.tablet #newNav nav {
  margin-bottom: 0;
}
body.tablet #newNav .header__inner {
  background: #252525;
  width: 77%;
  margin: 0;
}
body.tablet #newNav .search-field {
  width: 40%;
  max-width: 330px;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
body.tablet #newNav .mega-menu {
  position: static;
  visibility: visible;
  border-top: 5px solid #252525;
  margin-top: 5px;
}
body.tablet #newNav .mega-menu div.grid__item ~ div {
  display: none;
}
body.tablet #newNav .grid__item .mega_menu__title {
  display: none;
}
body.tablet #newNav .mega_menu__body {
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.tablet #newNav .mega_menu__body ul {
  width: 100%;
}
body.tablet #newNav .main-navigation > li {
  padding: 10px 0 5px 0;
}
body.tablet #newNav .mega_menu__body {
  padding-left: 5px;
}
body.tablet #newNav nav .mega_menu__body ul {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
body.tablet #newNav nav .mega_menu__body ul li {
  padding: 0px;
  background: none;
  border-bottom: 1px solid #3d3d3d;
  width: 100%;
  line-height: 35px;
}
body.tablet #newNav nav .mega_menu__body ul li:after {
  display: none;
}
body.tablet #newNav .mega_menu__body ul li {
  line-height: 20px;
}
body.tablet #newNav .mega_menu__body {
  padding-top: 0;
}
body.tablet #newNav .mega-menu {
  border-bottom: none;
}
body.tablet #newNav nav .mega_menu__body ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
body.tablet #newNav nav .mega_menu__body ul li:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0px;
  display: block;
  font-size: 1.5em;
  padding: 0.72em 0.5em;
  background: url(../img/rightArrow.png) no-repeat;
}
body.tablet #newNav .lap--one-half {
  width: 100%;
}
body.tablet #newNav nav .mega_menu__body ul li a {
  color: #b7b7b7;
  width: 100%;
  display: block;
  padding: 0 10px 10px 10px;
  position: relative;
  z-index: 999999;
}
body.tablet #newNav .pushyClass {
  right: 500px;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -webkit-perspective: 1000;
}
body.tablet #newNav .header__inner {
  margin: 0;
  width: 100%;
}
body.tablet #newNav .homepage {
  position: relative;
}
body.tablet #newNav .js-search-field-grid {
  overflow: hidden;
}
body.tablet #newNav .search-field {
  width: 40%;
}
body.tablet #newNav .search-field__button {
  display: none;
}
body.tablet #newNav .logo-wrap {
  float: none;
  background: #fff;
}
body.tablet #newNav .search-field {
  width: 97%;
  float: right;
  margin-right: 20px;
  max-width: none;
}
body.tablet #newNav .search-field input {
  width: 320px;
  float: right;
}
body.tablet #newNav .navIconSearch:hover {
  text-decoration: none;
}
body.tablet #newNav #headerSearch {
  margin-left: 40px;
}
body.tablet #newNav .toggleheader #content {
  width: 635px;
}
body.tablet #newNav .one-half,
body.tablet #newNav .two-quarters,
body.tablet #newNav .three-sixths,
body.tablet #newNav .four-eighths,
body.tablet #newNav .five-tenths,
body.tablet #newNav .one-third,
body.tablet #newNav .two-sixths,
body.tablet #newNav .four-twelfths,
body.tablet #newNav .one-fifth,
body.tablet #newNav .two-tenths {
  width: 100%;
}
body.tablet #newNav .is-off-canvas-only {
  display: block !important;
}
body.tablet #newNav .main-navigation > li {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body.tablet #tablet-nav-container {
  display: block;
  float: right;
  margin-top: 45px;
  /*Add extra height */
}
body.tablet #tablet-nav-container .navIcon {
  font-family: "searchIcon";
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  border-left: 1px solid #e3e3e3;
}
body.tablet #tablet-nav-container .navIcon:after {
  content: '\e800';
}
body.tablet #tablet-nav-container .navIcon:hover {
  text-decoration: none;
}
body.tablet #tablet-nav-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body.tablet #tablet-nav-container ul li {
  display: inline;
  font-size: 16px;
  padding-right: 20px;
}
body.tablet #tablet-nav-container ul li a {
  color: #323232;
}
body.tablet #tablet-nav-container ul li a span {
  display: inline;
  color: #343434;
  font-family: arial;
  padding-right: 10px;
}
body.tablet #tablet-nav-container ul li a:hover {
  text-decoration: none;
}
body.tablet .logo-wrap {
  width: 100%;
  float: none;
  background: #fff;
  overflow: hidden;
  height: 90px;
  min-width: 748px;
}
body.tablet .logo-wrap .logo {
  float: left;
}
body.tablet .navIconSearch {
  font-family: "searchIcon";
  float: left;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #9b9b9b;
  margin-left: 40px;
  margin-bottom: 30px;
}
body.tablet .navIconSearch:before {
  content: '\e800';
}
body.tablet #navComponent {
  border-top: 1px solid #e3e3e3;
}
body.tablet.classic #newNav nav ul li,
body.tablet.spark #newNav nav ul li {
  min-height: 39px !important;
}
body.tablet .news---sub--nav {
  width: 100%;
  margin-top: 0px;
  height: 200px;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.md-modal.position {
  z-index: 99999999999999999999;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.md-overlay.md-show {
  visibility: visible;
  opacity: 1;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
.md-content {
  background: white;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  overflow: hidden;
}
.md-content p {
  font-size: 17px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif !important;
}
.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}
.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}
.md-content > div p {
  margin: 0;
  padding: 10px 0;
}
.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}
.md-content > div ul li {
  padding: 5px 0;
}
.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}
.md-trigger {
  width: 250px;
  border: none;
  background: none;
  display: block;
  margin: auto;
  color: #3a7cb9;
  height: 28px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #eaf4fe;
  border: 1px solid #96aed4;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 1;
  outline: none ;
  border-top: none;
}
.md-trigger:hover {
  text-decoration: underline;
}
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99999;
}
.md-content div h4 {
  font-size: 22px;
  color: #353535;
  text-transform: capitalize;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.md-content .md-close {
  float: right;
  margin-top: 5px;
  border: none;
  background: none;
  color: #3a7cb9;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.md-content a.switcher {
  color: #3a7cb9 !important;
  font-size: 17px;
  position: relative;
  top: 20px;
}
.md-modal h1,
#newNav h1,
.md-modal h2,
#newNav h2,
.md-modal h3,
#newNav h3,
.md-modal h4,
#newNav h4,
.md-modal h5,
#newNav h5 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.hidden {
  display: none !important;
}
#switchMessage {
  margin: auto;
  background: #fff;
}
#navComponent {
  background: #fff;
  line-height: 1;
  font-size: 62.5%;
  border-bottom: 1px solid #e3e3e3;
  min-width: 748px;
}

.mdbutton {
  width: 153px;
  height: 38px;
  background: #3979b7;
  border-radius: 5px;
  display: block;
  float: left;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.mdbutton:visited {
  color: #ffffff;
}
.md-content .CTA {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
.md-content .CTA .switcher {
  position: absolute;
  top: 15px;
}
footer.site-footer {
  zoom: 1;
  *zoom: 1;
  width: 100%;
  /*min-width:@bp-stopResponsive;*/
  font-family: 'Arial', 'Verdana', sans-serif;
  font-size: .8em;
  margin-top: 30px;
}
footer.site-footer:after {
  content: "";
  display: table;
  clear: both;
}
footer.site-footer ul.links {
  zoom: 1;
  *zoom: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer.site-footer ul.links:after {
  content: "";
  display: table;
  clear: both;
}
footer.site-footer ul.links li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #666;
}
footer.site-footer ul.links li:last-of-type {
  border: 0 none;
}
footer.site-footer .footer-links {
  background: #C5C5C5;
  padding: 5px 0;
}
footer.site-footer .footer-links h3 {
  float: left;
  font-family: 'Arial', 'Verdana', sans-serif;
  font-size: 1em;
  margin: 0 10px 0 0;
}
footer.site-footer .footer-links a {
  font-weight: 600;
}
footer.site-footer .copyright {
  zoom: 1;
  *zoom: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  margin: 0 auto;
  max-width: 992px;
}
footer.site-footer .copyright:after {
  content: "";
  display: table;
  clear: both;
}
footer.site-footer .copyright p {
  float: left;
  margin: 0;
}
footer.site-footer .copyright ul.links {
  float: left;
  margin-left: 4px;
}
footer.site-footer .copyright .profiles {
  float: right;
}
.footer-linkspam {
  width: 100;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
.footer-linkspam a {
  color: #3a7cb9;
}
.footer-linkspam h3 {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1px solid #e6e6e6;
}
.footer-linkspam h3 p {
  margin: 0;
}
ul.link-directory {
  zoom: 1;
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 20px;
}
ul.link-directory:after {
  content: "";
  display: table;
  clear: both;
}
ul.link-directory > li {
  width: 20%;
  float: left;
  padding-right: 20px;
}
ul.link-directory li ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-mobilelink {
  display: none;
}
@media screen and (max-width: 768px) {
  ul.link-directory > li {
    width: 50%;
    font-size: 1.154em;
    line-height: 1.5;
  }
  .footer-mobilelink {
    display: block;
    text-align: center;
    font-size: 14px;
    background-color: #ccc;
    padding: 7px 0;
  }
}
@media screen and (max-width: 420px) {
  ul.link-directory > li {
    width: 100%;
    float: none;
  }
}
.fs_88 footer.site-footer .copyright {
  max-width: 1025px;
}
//Start InfoBar
.infoBar{
background:#333;
min-height:110px;

  .grid--align--right{
   text-align:right;
    a{
     color:#999999;
     font-size:12px;
    }
  }
  > div{
  max-width:980px;
  min-width:768px;
  padding:20px;
  margin:auto;
  }

  .infoBar__navigationWrap{
  padding-top:15px;
  border-top:1px solid #555;
    li{
    display:inline-block;
    margin-left:5.5%;
      &:first-child{
      margin-left:0px;
      }

      a{
      font-size:15px;
      color:#999999;
      padding:20px 0px 20px 0px;
        &:hover{
        color:#fff;
        padding-bottom:13px;
        }
      }
      a.infoBar__navigation--mainLink:hover{
      border-bottom:8px solid #ffde01;
      }
    }
  }

  header{
  padding-bottom:30px;
  }

  header h1{
  font-size:20px;
  color:#fff;
  font-weight:200;
  }
  ul li{
  display:inline-block;
  }

  .infoBar--item__price{
   color:#fff;
   font-size:18px;
    padding-right:10px;
    border-right:1px solid #555;
  }

  .infoBar--favourite__item{
   padding-left:5px;
  }

 .infoBar__navigation--subNav{
  visibility:hidden;
  position: absolute;
  opacity:0;
  background: #242424;
  padding:20px;
  }

  .infoBar__navigation--sub-sub-menu:hover      .infoBar__navigation--subNav{
  visibility:visible;
  opacity:1;
  top:36px;
    li{
    margin-left:0px;
    margin-bottom:20px;
      a{
      font-size:12px;
      }
    }
  }

  .infoBar__navigation--sub-sub-menu{
   position: relative;
  }

}

.infoBar.fixtoTop{
position:fixed;
top:0px;
width:100%;
  header{
  padding-bottom:10px;
  }

  h1{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 transition: all 0.3s;
  }

  .infoBar__navigationWrap li a:hover{
   padding-bottom:20px;
  }
}

// ==========================
//  Favourite Lightbox
// ==========================


.data-modal {
width: 20%;
  margin: auto;
  position: fixed;
  top: 20%;
  left: 40%;
  background: #fff;
  z-index: 999999;
  border-radius: 10px;
}


.data-modal--content{
  padding:20px;
  text-align:center;
}

  .data-modal--content h1{
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  }

  .data-modal--content span:before{
        margin-top: 10px;
    font-size:60px;
    color:@c-menuyellow;
  }

@-webkit-keyframes animScale{
0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes animScale{
	0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}
@keyframes animFade{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes animFade{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.show--visibility{
-webkit-animation-name: animScale;
animation-name: animScale;
-webkit-animation-duration: 0.25s;
animation-duration: 0.25s;
}

.hidden--visibility {
visibility:hidden;
-webkit-animation-name: animFade;
animation-name: animFade;
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
}

.md-modal{
position: fixed;
top: 7%;
left: 50%;
  width: 20%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2000 !important;
    text-align: center;
}

.md-effect-7{
top: 0;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}

.md-effect-7 .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.md-show.md-effect-7 .md-content {
-webkit-transform: translateY(0%);
-moz-transform: translateY(0%);
-ms-transform: translateY(0%);
transform: translateY(0%);
border-radius: 0 0 3px 3px;
opacity: 1;
}

.md-show {
visibility: visible;
}

.md-content {
color: #fff;
background: #fff;
position: relative;
border-radius: 3px;
margin: 0 auto;
padding: 10px;
   .favourited{
        &:before{
        color: #ffde01;
        font-size: 70px;
        }
    }

    p{
    color:#444444 !important;
    }
}








a.home_and {
  font-weight: bold;
  font-style: italic;

}
