/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require foundation_and_overrides
 /*= require foundation
 */
div.header_pages {
   position: relative;
   bottom: 10px;
 }

.count_comment {
  color: white;
  font-weight: bolder;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}


h4 {
   position: absolute;
   top: 20px;
   left: 90px;
   width: 70%;
}

h4 span {
   font: bold 15px/15px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   padding: 10px;

}


.delete_photo{
 display: inline-block;
 background-color: #ccc;
 border: 1px solid #777;
 padding: 0 1.5em;
 margin: 0.5em;
 font: bold 1em/2em Arial, Helvetica;
 text-decoration: none;
 color: #333;
 text-shadow: 0 1px 0 rgba(255,255,255,.8);
 border-radius: .2em;
 box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}



.style_image {
  position: relative;
  padding-top: 6px;
}



div.row.columns.expanded {
  width: 80%;
}

div.row.columns.expanded a {
text-decoration: none;
}

/*div.top-bar-right {
  font-size: 15px;
}*/
div#main-menu.top-bar {
    background: none;
    text-decoration:none
}

a.dropdown.checking {
  position: relative;
  right: 10px;
  text-transform: uppercase;
  bottom: 80%;
  display: inline-block;
   background-color: #ccc;
   padding: 0 1.5em;
   margin: 0.5em;
   text-decoration: none;
   color: #333;
   font-weight: bolder;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   border-radius: .2em;
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   padding-left: 3px;
   padding-right: 3px;
}



a.dropdown.checked {
  position: relative;
  right: -21px;

  text-transform: uppercase;
  bottom: 80%;
  display: inline-block;
   background-color: #ccc;
   padding: 0 1.5em;
   margin: 0.5em;
   text-decoration: none;
   color: #333;
   font-weight: bolder;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   border-radius: .2em;
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   padding-left: 3px;
   padding-right: 3px;
}

a.dropdown.checkers {
  position: relative;
  left: 55px;

  text-transform: uppercase;
  bottom: 80%;
  display: inline-block;
   background-color: #ccc;
   padding: 0 1.5em;
   margin: 0.5em;
   text-decoration: none;
   color: #333;
   font-weight: bolder;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   border-radius: .2em;
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   padding-left: 4px;
   padding-right: 3px;
}

@media only screen and (min-width: 2px) {

   div.top-bar-right { font-size: 1.2vw; }

}


a.home {
	color: white;
	font-size: 20px;
  font-weight: bolder;
	font-family: fontello, "Arial Black", sans-serif;
	text-transform: uppercase;

}

a.about_us {
  color: white;
	font-size: 20px;
  font-weight: bolder;
	font-family: fontello, "Arial Black", sans-serif;
	text-transform: uppercase;

}


div#main-menu.top-bar
  .top-bar-left
    a {
      position: absolute;
      text-transform: uppercase;
      bottom: 80%;
      display: inline-block;
       background-color: #ccc;
       /*border: 1px solid #777;*/
       padding: 0 1.5em;
       margin: 0.5em;
       text-decoration: none;
       color: #333;
       font-weight: bolder;
       text-shadow: 0 1px 0 rgba(255,255,255,.8);
       border-radius: .2em;
       box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
       padding-left: 3px;
       padding-right: 3px;
      left: 380px;
    }

div.top-bar-right {
    background: none;

}
a.dropdown {
  color: white;
  font-weight: bolder;
}

ul.vertical.medium-horizontal.expanded.menu.dropdown {
  background: none;
}

/* New Mega Menu Navigation */

.dropdown-pane {
  max-width: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: white;
}


ul.vertical.medium-horizontal.expanded.menu.about_home.drilldown {
  background: rgba(0,0,0,0.7);
}

.dropdown-pane img {
/*   margin: 15px auto; */
}

.row.column.expanded
  .large-9.columns
    .row.column.expanded
      .large-4.columns
        ul
          li {
            background: black;
          }

ul.vertical.medium-horizontal.expanded.dropdown.menu.about_home {
  position: relative;
  right: 20px;
}


.dropdown-pane .row li {
  background:rgba(0,0,0,0.7);!important;
  list-style-type: none;
}

.dropdown-pane .row .large-9 .columns:last-child {
  /*border-right: 1px solid silver;*/
}

.dropdown-pane .row .large-3 .columns, .dropdown-pane .row .row .large-3.columns ul li {
  background: none;
}

#megamenu-resources img {
  position: relative;
/*   margin: 15px auto; */
}

a.home_and {
  font-weight: bold;
  font-style: italic;

}
