// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_body{
  font-size: 13px;
}

div.like_and_unlike_comment{
  font-size: 13px;
  font-weight: bold;
  position: relative;
  right: 7px;
}

.comment_show_days_ago{
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  left: 0px;
}

div.comment_like_word{
  color: green;
  font-size: 15px;
  position: relative;
  right: 7px;
}

div.delete_comment_and_reply_link{
  color: green;
  font-size: 15px;
  position: relative;
  right: 3px;
}

div.comment_like_icon {
  position: relative;
  bottom: 22px;
  left: 44px;
}


dv.reply{
  color: green;
  font-size: 15px;
  position: relative;
  right: 19px;
}
