// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// div.comment_content {
//   background-color: #A2D9CE;
// }

// div.page_wrapper_show {
//   margin: auto;
// }
// div.seperate {
//   background: #d7c6cf;
// }

div.comment_body_view{
  font-size: 13px;
  position: relative;

  width: 450px;
  word-wrap: break-word;
  line-height: 1.7;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  margin-top: 30px;
  margin-left: 7px;
  margin-right: 7px;
}


@media screen and (max-width: 568px) {
      div.comment_body_view {
    font-size:15px;
    width: 250px;
    }
}


@media screen and (max-width: 568px) {
div.comment_body_view  {
        font-size:1.1em;
    }
}

//
// div.comment_days {
//   position: relative;
//   left: 5px;
// }
//
//
//

// @media screen and (max-width: 568px) {
// div.comment_days  {
//         font-size:0.8em;
//     }
// }




input#comment_pictures_attributes_0_image.file.optional {
  border: none;
}

div.like_and_unlike_comment a{
  color: blue;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  right: -5px;
  text-decoration: none;
  top: 10px;
}

.comment_show_days_ago{
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  left: 5px;
}


@media screen and (max-width: 768px) {
.comment_show_days_ago {
        font-size:18px;
    }
}

@media screen and (max-width: 568px) {
.comment_show_days_ago  {
        font-size:0.8em;
    }
}



div.comment_like_word{
  color: blue;
  font-size: 15px;
  font-weight: bolder;
  position: relative;
  right: -5px;
  top: 30px;

}

div.thum_icon_comment {
  position: relative;
  top: 12px;
  left: 38px;
   text-shadow: 1px 1px 1px #ccc;
   color:#0000ff;
   font-size: 1.5em;
}

div.add_comment {
  padding-top: 30px;
}



@media screen and (max-width: 768px) {
div.comment_like_word {
        font-size:18px;
    }
}

@media screen and (max-width: 568px) {
div.comment_like_word  {
        font-size:0.8em;
    }
}



i.fa.fa-thumbs-o-up {
  position: relative;
  bottom: 1px;
  left: 10px;

}

div.delete_comment a{
  color: green;
  font-size: 17px;
  position: relative;
  text-decoration: none;
  right: 14px;
  top: 30px;

}
div.delete_comment {
  padding-bottom: 50px;
  padding-top: 20px;

}

.commentor {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}


@media screen and (max-width: 568px) {
div.delete_comment_and_reply_link a {
        font-size:0.8em;
    }
}


div.reply{
  color: green;
  font-size: 15px;
  position: relative;
  right: -5px;
  top: 50px;
}

@media screen and (max-width: 768px) {
div.reply h5 {
        font-size:18px;
    }
}

@media screen and (max-width: 568px) {
div.reply h5 {
        font-size:0.7em;
    }
}
textarea#comment_body.text.required {
   width: 480px; height: 220px; border: 1px solid #999999; padding: 5px;
}

label.text.required {
  display: none;
}
label.file.optional {
  display: none;
}
label.string.required {
  display: none;
}

.row {text-align: center}

@media screen and (max-width: 568px) {
textarea#comment_body.text.required {
        width: 150px;
        height: 70px;
    }
}


@media screen and (max-width: 5px) {
div.row {
    width: 30px;
    height: 30px;
    }
}

input#comment_pictures_attributes_0_image.file.optional {
  text-align: center
}
textarea#reply_reply_body.text.required {
  width: 200px; height: 45px; border: 1px solid #999999; padding: 5px;
}

div.count_comment {
  background-color: #5cdfce;
}
