// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

div.back_ground_transparent{
  background-color:black;
  z-index:0;
  opacity:0.5;
  position: relative;
  width: 70%;
  height: 160%;
  top: 35%;
  margin: 0 auto;
  border-radius: 1%;
}
img.alignnone{
  width: 400px;
  height: 200px;
  height: auto;
  position: relative;
  top: -30px;
  margin: 0 auto;
  left: 25%;
}


.css-slideshow{
  position: relative;
  max-width: 495px;
  margin: 5em auto .5em auto;
  max-width: 50%;
  height: auto;
  display:block;
  bottom: 16px;
}

.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 30%;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


div.home_info{
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bolder;
  color: white;
  text-align: center;
  bottom: 93%;
}


div.home_info {
  font-size: 10px;
}

@media (min-width: 900px) {
div.home_info {
    font-size: 18px;
  }
}

div.about_info{
  position: relative;
  top: 2%;
  max-width: 100%;
  text-align: justify;
  margin: 0 auto;
  width: 50em;
  margin-top: 20px;
  font-weight: bolder;
  color: white;
  font-size: 20px;
}


div.post_link
{
  position: absolute;
  text-transform: uppercase;
  bottom: 94.4%;
  display: inline-block;
   background-color: #ccc;
   border: 1px solid #777;
   padding: 0 1.5em;
   margin: 0.5em;
   text-decoration: none;
   color: #333;
   font-weight: bolder;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   border-radius: .2em;
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   padding-left: 3px;
   padding-right: 3px;
   right: 60px;

}


div.post_link {
  font-size: 10px;
}

@media (min-width: 900px) {
div.post_link {
    font-size: 18px;
  }
}





// for welcome text
div.welcome_link
{
  color: #FFD700;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5C21B), to(#D17000));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  top: -139%;
  right: 5px;
}
