// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page_wrapper {
  background-color: #ffffff;
  width: 74%;
  margin: 0 auto;
}

/*border between top_bar and body*/
#section {
  background-color: #1a2a38;
  border: 8px solid #1a2a38;
	list-style: none;
}


/*aligning the body*/
#content {
 position: relative;
 left: 15px;
 top: 10px;
 padding-bottom: 10%;
}

.post_title_show{
  position: relative;
  right: 14px;
	font-weight: bolder;
	right: 20px;
}

.post_body_show {
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  right: 20px;
}

.post_show_days_ago{
  font-weight: bolder;
  margin-top: 10px;
  position: relative;
  right: 20px;
}

.post_title {
  font-size: 25px;
}

.post_body {
  font-size: 20px;
}

.post {
  border-bottom:2px solid #CCCCCC;
}

.post:last-child {
  border-bottom:0;
}

.like_icon{
  position: relative;
  top: -23px;
  left: 27px;

}

.like_icon_index{
  position: relative;
  top: -23px;
  left: 24px;
}

.like_word {
  color: green;
  font-size: 15px;
  position: relative;
  right: 19px;
}

.like_and_unlike{
  font-size: 13px;
  font-weight: bold;
  position: relative;
  right: 19px;
}


// for post index
.like_and_unlike_index{
  font-size: 13px;
  font-weight: bold;
  position: relative;
  right: 19px;
}

.like_word_index {
  color: green;
  font-size: 15px;
  position: relative;
  right: 19px;
}
