// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page_wrapper {
  width: 74%;
  margin: 0 auto;
}

/*border between top_bar and body*/
#section {
  padding-top: 7%;
  background-color: #DDDDDD;
}

.head_image{
  position: absolute;

  width: 100%;
  height: 13%;
}

/*aligning the body*/
#content {
 position: relative;
 left: 15px;
 top: 10px;
 padding-bottom: 10%;
}

.post_title_show{
  position: relative;
  right: 14px;
	font-weight: bolder;
	right: 5px;
}

div.post_body_show {
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  right: 5px;
}

.post_show_days_ago{
  font-weight: bolder;
  margin-top: 10px;
  position: relative;
  right: 5px;
}

.post_title {
  font-size: 25px;
}

.post_body {
  font-size: 20px;
}


.post:last-child {
  border-bottom:0;
}

div.like_icon{
  position: relative;
  top: -23px;
  left: 45px;

}

.like_icon_index{
  position: relative;
  top: -38px;
  left: 45px;
}

div.show_like_icon{
  position: relative;
  bottom: 23px;
  left: 26px;
}

.like_word {
  color: green;
  font-size: 15px;
  position: relative;
  right: 19px;
}

div.like_and_unlike{
  font-size: 13px;
  font-weight: bold;
  position: relative;
  left: -20px;
}


// for post index
.like_and_unlike_index{
  font-size: 13px;
  font-weight: bold;
  position: relative;
  right: 19px;
}

.like_word_index {
  color: green;
  font-size: 15px;
  position: relative;
  right: 19px;
}


table { border-width: 7px;
border-style: outset; }
td { border-width: medium;
border-style: outset; }
.separate_posts { border-width: thick;
border-style: solid; }

div.post{
  position: relative;
  right: 31px;
}

div.vertical-text {
	transform: rotate(77deg);
  font-size: 30px;
	// transform-origin: left top 0;
  position: relative;
  right: 37%;
  bottom: 707%;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  letter-spacing:2px;
  font-weight:bolder;

  color: white;
  text-shadow: 2px 2px 1px #000,
            -2px -2px 1px #000,
            -2px 2px 1px #000,
             2px -2px 1px #000;

}

div.new_post_link{
  position: relative;
  bottom: 40px;
  left: 80%;
  font-size: 50px;

  display: inline-block;
   background-color: #ccc;
   border: 1px solid #777;
   padding: 0 1.5em;
   margin: 0.5em;
   font: bold 1.2em/2em Arial, Helvetica;
   text-decoration: none;
   color: #333;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   border-radius: .2em;
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);

}
