a:link{
  color: white;
}

input#user_remember_me {
  margin-left: 15%;
}

div.remember_me {
  position: relative;
  right: -7%;
  bottom: 10px;
}

input#user_gender_female.radio_buttons.required{
  width: 20px;
  bottom: -9px;
}


input#user_gender_male.radio_buttons.required{
  width: 20px;
  bottom: -10px;
}


// div.log_in_action {
//   background: red;
// }
